
table, td, tr, th {
    border: 2px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: gray;
}

tr:nth-child(odd) {
    background-color: white;
}

div {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

body {
    background-color: black;
}

